# Programming Assignment 2
* CSCI-4930/5930 ML Fall 2021  (Be sure to discard which section you are not enrolled)
* Author: Odyssey Villagomez

### Let's load the given dataset

In [129]:
import pandas as pd
# First load the dataset into pandas dataframe
full_dataset = pd.read_csv('dataset/baby-weights-dataset.csv',delimiter=',')
judge_dataset = pd.read_csv('dataset/judge-without-labels.csv',delimiter=',')

## Tasks for everyone (Tasks 1-17)

## TASK 1: 
Separate the full_dataset into two parts: X and y, where X denotes the input matrix containing only the input (i.e., independent explanatory) variables, and y denotes the target variable containing only the target values for exactly the same number of samples in the given full_dataset.

In [130]:
#@TODO: Your code goes here

original_df = full_dataset.copy()

X = full_dataset.drop(columns = ['BWEIGHT'])
y = original_df['BWEIGHT']

In [131]:
original_df.head()

,ID,SEX,MARITAL,FAGE,GAINED,VISITS,MAGE,FEDUC,MEDUC,TOTALP,BDEAD,TERMS,LOUTCOME,WEEKS,RACEMOM,RACEDAD,HISPMOM,HISPDAD,CIGNUM,DRINKNUM,ANEMIA,CARDIAC,ACLUNG,DIABETES,HERPES,HYDRAM,HEMOGLOB,HYPERCH,HYPERPR,ECLAMP,CERVIX,PINFANT,PRETERM,RENAL,RHSEN,UTERINE,BWEIGHT
0,2001,2,1,33,26.0,10,34,12.0,4,2,0,0,1,35.0,1,1,M,M,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,4.3750
1,2002,2,2,19,40.0,10,18,11.0,12,1,0,0,9,41.0,1,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,6.9375
2,2003,2,1,33,16.0,14,31,16.0,16,2,0,0,1,39.0,1,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,8.5000
3,2004,1,1,25,40.0,15,28,12.0,12,3,0,0,1,38.0,8,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,8.5000
4,2005,1,2,21,60.0,13,20,12.0,14,2,0,0,1,40.0,2,2,N,N,0.0,0,0,0,0,0,0,0.0,0,0,1,0,0,0,0,0,0,0,9.0000

In [132]:
X.head()

,ID,SEX,MARITAL,FAGE,GAINED,VISITS,MAGE,FEDUC,MEDUC,TOTALP,BDEAD,TERMS,LOUTCOME,WEEKS,RACEMOM,RACEDAD,HISPMOM,HISPDAD,CIGNUM,DRINKNUM,ANEMIA,CARDIAC,ACLUNG,DIABETES,HERPES,HYDRAM,HEMOGLOB,HYPERCH,HYPERPR,ECLAMP,CERVIX,PINFANT,PRETERM,RENAL,RHSEN,UTERINE
0,2001,2,1,33,26.0,10,34,12.0,4,2,0,0,1,35.0,1,1,M,M,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0
1,2002,2,2,19,40.0,10,18,11.0,12,1,0,0,9,41.0,1,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0
2,2003,2,1,33,16.0,14,31,16.0,16,2,0,0,1,39.0,1,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0
3,2004,1,1,25,40.0,15,28,12.0,12,3,0,0,1,38.0,8,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0
4,2005,1,2,21,60.0,13,20,12.0,14,2,0,0,1,40.0,2,2,N,N,0.0,0,0,0,0,0,0,0.0,0,0,1,0,0,0,0,0,0,0

In [133]:
y.head()

0    4.3750
1    6.9375
2    8.5000
3    8.5000
4    9.0000
Name: BWEIGHT, dtype: float64

## TASK 2:
* Given X representing the input matrix from the full_dataset, y being the target vector (the rightmost column of the full_dataset), obtained from Task 1: 
* randomly split the (X,y) dataset into 75% for training and 25% for testing using the library function from the library [sklearn.model_selection](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) . Please pass to the train_test_split function an additional argument random_state=45931.
* Store the 4 splits as X_train, X_test, y_train, y_test respectively.
* Save the ID column for X_train and X_test into ID_train and ID_test as list variable.
* Now, drop the ID columns from both X_train and X_test

In [134]:
#@TODO: Your code goes here

import numpy as np 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=45931)

ID_train = X_train[['ID']]
ID_test = X_test[['ID']]

X_train = X_train.drop(['ID'], axis=1)
X_test = X_test.drop(['ID'], axis=1)

y_test = pd.DataFrame(y_test, columns=['BWEIGHT'])

In [135]:
X_train.head()

,SEX,MARITAL,FAGE,GAINED,VISITS,MAGE,FEDUC,MEDUC,TOTALP,BDEAD,TERMS,LOUTCOME,WEEKS,RACEMOM,RACEDAD,HISPMOM,HISPDAD,CIGNUM,DRINKNUM,ANEMIA,CARDIAC,ACLUNG,DIABETES,HERPES,HYDRAM,HEMOGLOB,HYPERCH,HYPERPR,ECLAMP,CERVIX,PINFANT,PRETERM,RENAL,RHSEN,UTERINE
16961,1,1,36,50.0,16,32,12.0,13,3,0,0,1,38.0,1,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,1,0,0,0,0
28131,2,2,23,50.0,13,20,12.0,15,2,0,0,1,41.0,2,2,N,N,0.0,0,1,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0
35114,1,1,26,38.0,11,21,12.0,13,1,0,0,9,40.0,1,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,1,0,0,0,0,0,0,0
85941,1,2,22,20.0,10,19,12.0,12,1,0,0,9,40.0,1,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0
26819,2,1,35,30.0,13,30,16.0,17,3,0,0,1,39.0,1,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0

In [136]:
X_test.head()

,SEX,MARITAL,FAGE,GAINED,VISITS,MAGE,FEDUC,MEDUC,TOTALP,BDEAD,TERMS,LOUTCOME,WEEKS,RACEMOM,RACEDAD,HISPMOM,HISPDAD,CIGNUM,DRINKNUM,ANEMIA,CARDIAC,ACLUNG,DIABETES,HERPES,HYDRAM,HEMOGLOB,HYPERCH,HYPERPR,ECLAMP,CERVIX,PINFANT,PRETERM,RENAL,RHSEN,UTERINE
40925,2,1,30,33.0,16,29,16.0,17,1,0,0,9,39.0,1,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0
46370,2,1,23,20.0,10,22,12.0,15,2,0,0,1,39.0,2,2,N,N,0.0,0,0,0,0,0,0,0.0,0,1,0,0,0,0,0,0,0,0
78590,1,2,24,34.0,12,21,10.0,14,2,0,0,1,38.0,2,2,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0
101381,2,1,32,16.0,15,28,12.0,13,2,0,0,1,39.0,1,1,N,N,0.0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0
43749,2,1,26,30.0,7,30,16.0,16,4,0,1,2,39.0,1,1,N,N,0.0,0,1,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0

## TASK 3:
Compute mean, stdev, min, max, 25% percentile, median and 75% percentile of BWEIGHT target variable (i.e, the target y) in the training set (i.e., y_train), and print the computed values as a numpy array containing these 7 results (respectively).

In [137]:
#@TODO: Your code goes here
import statistics as s

y_train = pd.DataFrame(y_train)
mean = y_train['BWEIGHT'].mean()
stdev = s.stdev(y_train['BWEIGHT'])
min_val = y_train['BWEIGHT'].min()
max_val = y_train['BWEIGHT'].max()
twenty_fith = np.percentile(y_train['BWEIGHT'], 25) 
median =  y_train['BWEIGHT'].median()
seventy_fith = np.percentile(y_train['BWEIGHT'], 75) 

results_array =[mean, stdev, min_val, max_val, twenty_fith, median, seventy_fith]
print(results_array)

[7.256997863247864, 1.3300584336292791, 0.3125, 13.0625, 6.625, 7.375, 8.0625]

## TASK 4: 
Given the training dataset (X_train, y_train), save as X_train_ohe after replacing all the non-numeric variables (i.e., categorical variables) with numeric encoding. Please consider using the "One-hot encoding" scheme i.e., introducing dummy variables. A brief description of the scheme can be found in the [DUMMY-variables.note.txt](DUMMY-variables.note.txt) file
* Use the same encoder to perform onehotencoding on the X_test dataset and save the result as X_test_ohe.
* Print the column names of X_test_ohe.

In [138]:
# Categorical boolean mask
categorical_feature_mask = X_train.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = X_train.columns[categorical_feature_mask].tolist()
cat_columns_idx = [X_train.columns.get_loc(col) 
                   for col in categorical_cols]

In [139]:
# use when different features need different preprocessing
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
column_trans = make_column_transformer(
    (OneHotEncoder(), categorical_cols),
    remainder='passthrough')

In [140]:
X_train_ohe = pd.DataFrame(column_trans.fit_transform(X_train),columns=column_trans.get_feature_names())

C:\Users\Odyss\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [141]:
X_test_ohe = pd.DataFrame(column_trans.transform(X_test),columns=column_trans.get_feature_names())

C:\Users\Odyss\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [142]:
X_train_ohe.columns

Index(['onehotencoder__x0_C', 'onehotencoder__x0_M', 'onehotencoder__x0_N',
       'onehotencoder__x0_O', 'onehotencoder__x0_P', 'onehotencoder__x0_S',
       'onehotencoder__x0_U', 'onehotencoder__x1_C', 'onehotencoder__x1_M',
       'onehotencoder__x1_N', 'onehotencoder__x1_O', 'onehotencoder__x1_P',
       'onehotencoder__x1_S', 'onehotencoder__x1_U', 'SEX', 'MARITAL', 'FAGE',
       'GAINED', 'VISITS', 'MAGE', 'FEDUC', 'MEDUC', 'TOTALP', 'BDEAD',
       'TERMS', 'LOUTCOME', 'WEEKS', 'RACEMOM', 'RACEDAD', 'CIGNUM',
       'DRINKNUM', 'ANEMIA', 'CARDIAC', 'ACLUNG', 'DIABETES', 'HERPES',
       'HYDRAM', 'HEMOGLOB', 'HYPERCH', 'HYPERPR', 'ECLAMP', 'CERVIX',
       'PINFANT', 'PRETERM', 'RENAL', 'RHSEN', 'UTERINE'],
      dtype='object')

In [143]:
print(len(categorical_cols), categorical_cols)

2 ['HISPMOM', 'HISPDAD']

In [144]:
#@TODO: Your code goes here
print(X_test_ohe.columns)

Index(['onehotencoder__x0_C', 'onehotencoder__x0_M', 'onehotencoder__x0_N',
       'onehotencoder__x0_O', 'onehotencoder__x0_P', 'onehotencoder__x0_S',
       'onehotencoder__x0_U', 'onehotencoder__x1_C', 'onehotencoder__x1_M',
       'onehotencoder__x1_N', 'onehotencoder__x1_O', 'onehotencoder__x1_P',
       'onehotencoder__x1_S', 'onehotencoder__x1_U', 'SEX', 'MARITAL', 'FAGE',
       'GAINED', 'VISITS', 'MAGE', 'FEDUC', 'MEDUC', 'TOTALP', 'BDEAD',
       'TERMS', 'LOUTCOME', 'WEEKS', 'RACEMOM', 'RACEDAD', 'CIGNUM',
       'DRINKNUM', 'ANEMIA', 'CARDIAC', 'ACLUNG', 'DIABETES', 'HERPES',
       'HYDRAM', 'HEMOGLOB', 'HYPERCH', 'HYPERPR', 'ECLAMP', 'CERVIX',
       'PINFANT', 'PRETERM', 'RENAL', 'RHSEN', 'UTERINE'],
      dtype='object')

In [145]:
pd.set_option("display.max_columns", None)
X_test_ohe.head()

,onehotencoder__x0_C,onehotencoder__x0_M,onehotencoder__x0_N,onehotencoder__x0_O,onehotencoder__x0_P,onehotencoder__x0_S,onehotencoder__x0_U,onehotencoder__x1_C,onehotencoder__x1_M,onehotencoder__x1_N,onehotencoder__x1_O,onehotencoder__x1_P,onehotencoder__x1_S,onehotencoder__x1_U,SEX,MARITAL,FAGE,GAINED,VISITS,MAGE,FEDUC,MEDUC,TOTALP,BDEAD,TERMS,LOUTCOME,WEEKS,RACEMOM,RACEDAD,CIGNUM,DRINKNUM,ANEMIA,CARDIAC,ACLUNG,DIABETES,HERPES,HYDRAM,HEMOGLOB,HYPERCH,HYPERPR,ECLAMP,CERVIX,PINFANT,PRETERM,RENAL,RHSEN,UTERINE
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,30.0,33.0,16.0,29.0,16.0,17.0,1.0,0.0,0.0,9.0,39.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,23.0,20.0,10.0,22.0,12.0,15.0,2.0,0.0,0.0,1.0,39.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,24.0,34.0,12.0,21.0,10.0,14.0,2.0,0.0,0.0,1.0,38.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,32.0,16.0,15.0,28.0,12.0,13.0,2.0,0.0,0.0,1.0,39.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,26.0,30.0,7.0,30.0,16.0,16.0,4.0,0.0,1.0,2.0,39.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## TASK 5: 
* Given the X_train_ohe (Onehot encoded Pandas Dataframe from Task 4), check if there are missing values, and if yes, count how many, and impute the missing values with corresponding mean values. 
* Finally, print the counting result as a Pandas dataframe named "missing_counts" having 2 columns {variable_name,num_of_missing_values).  Please make sure that the result lists all the input variables in the given dataset. 
* Now, impute the missing values by mean of the respective variable and save the revised dataframe as X_train_ohe_imputed.

In [146]:
#@TODO: Your code goes here
missing = X_train_ohe.isnull().sum()
print(missing)

X_train_ohe_imputed = X_train_ohe.copy()
missing_cols = []
for item in missing.iteritems(): 
    if item[1] != 0:
        #print(item)
        missing_cols.append(item[0])
        
print('Columns with missing values:')
print(missing_cols)  

for col in missing_cols:
    X_train_ohe_imputed[col].fillna(value=(X_train_ohe[col].mean()), inplace=True)

onehotencoder__x0_C    0
onehotencoder__x0_M    0
onehotencoder__x0_N    0
onehotencoder__x0_O    0
onehotencoder__x0_P    0
onehotencoder__x0_S    0
onehotencoder__x0_U    0
onehotencoder__x1_C    0
onehotencoder__x1_M    0
onehotencoder__x1_N    0
onehotencoder__x1_O    0
onehotencoder__x1_P    0
onehotencoder__x1_S    0
onehotencoder__x1_U    0
SEX                    0
MARITAL                0
FAGE                   0
GAINED                 1
VISITS                 0
MAGE                   0
FEDUC                  1
MEDUC                  0
TOTALP                 0
BDEAD                  0
TERMS                  0
LOUTCOME               0
WEEKS                  1
RACEMOM                0
RACEDAD                0
CIGNUM                 1
DRINKNUM               0
ANEMIA                 0
CARDIAC                0
ACLUNG                 0
DIABETES               0
HERPES                 0
HYDRAM                 1
HEMOGLOB               0
HYPERCH                0
HYPERPR                0
ECLAMP                 0
CERVIX                 0
PINFANT                0
PRETERM                0
RENAL                  0
RHSEN                  0
UTERINE                0
dtype: int64
Columns with missing values:
['GAINED', 'FEDUC', 'WEEKS', 'CIGNUM', 'HYDRAM']

In [147]:
X_train_ohe_imputed.head()

,onehotencoder__x0_C,onehotencoder__x0_M,onehotencoder__x0_N,onehotencoder__x0_O,onehotencoder__x0_P,onehotencoder__x0_S,onehotencoder__x0_U,onehotencoder__x1_C,onehotencoder__x1_M,onehotencoder__x1_N,onehotencoder__x1_O,onehotencoder__x1_P,onehotencoder__x1_S,onehotencoder__x1_U,SEX,MARITAL,FAGE,GAINED,VISITS,MAGE,FEDUC,MEDUC,TOTALP,BDEAD,TERMS,LOUTCOME,WEEKS,RACEMOM,RACEDAD,CIGNUM,DRINKNUM,ANEMIA,CARDIAC,ACLUNG,DIABETES,HERPES,HYDRAM,HEMOGLOB,HYPERCH,HYPERPR,ECLAMP,CERVIX,PINFANT,PRETERM,RENAL,RHSEN,UTERINE
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,36.0,50.0,16.0,32.0,12.0,13.0,3.0,0.0,0.0,1.0,38.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,2.0,23.0,50.0,13.0,20.0,12.0,15.0,2.0,0.0,0.0,1.0,41.0,2.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,26.0,38.0,11.0,21.0,12.0,13.0,1.0,0.0,0.0,9.0,40.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,22.0,20.0,10.0,19.0,12.0,12.0,1.0,0.0,0.0,9.0,40.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,35.0,30.0,13.0,30.0,16.0,17.0,3.0,0.0,0.0,1.0,39.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## TASK 6: 
* Given a X_train_ohe_imputed (Pandas dataframe from Task 5) where all the categorical variables are already replaced with numeric values, print a list of top 20 highly correlated variables with respect to the target variable, and save the result as a Pandas dataframe named top20_df with 2 columns {variable,corr_score}. 
* Here, the corr_score between a variable x and the target variable y needs to be computed using the Pearson Correlation Coefficient (PCC). Please note, PCC ranges between -1 to +1. PCC score 0 means no correlation, while value towards +1 and -1 represent positive and negative correlations respectively. For instance, PCC=0.8 and PCC=-0.8 tell similar strength positive and negative correlations between the two subject variables.
* Please do not include BWEIGHT in the top20_df list of top 20 correlated variable list.

In [148]:
#created a function to repeat this for X_test in Task 7
def find_top_correlations(X_ohe_imputed, y_df): 
    correlation_abs = X_ohe_imputed.apply(lambda x: x.corr(y_df['BWEIGHT'])).abs() #convert correlations to abs val to get accurate top 20
    
    print('Top 20 correlations')
    top20_df = correlation_abs.sort_values(ascending=False)
    top20_df = top20_df.head(20)
    print(top20_df)  
    
    top20_df = pd.DataFrame(top20_df) #convert to df 
    
    return top20_df

def find_top_10correlations(X_ohe_imputed, y_df): 
    correlation_abs = X_ohe_imputed.apply(lambda x: x.corr(y_df['BWEIGHT'])).abs() #convert correlations to abs val to get accurate top 20
    
    print('Top 10 correlations')
    top10_df = correlation_abs.sort_values(ascending=False)
    top10_df = top10_df.head(10)
    print(top10_df)  
    
    top10_df = pd.DataFrame(top10_df) #convert to df 
    
    return top10_df

In [149]:
#for graduate assignment 
top10_df = find_top_10correlations(X_train_ohe_imputed, y_train)

Top 10 correlations
CARDIAC                0.011286
CERVIX                 0.010087
GAINED                 0.008894
onehotencoder__x1_S    0.008514
TERMS                  0.008055
BDEAD                  0.007951
TOTALP                 0.007463
HYDRAM                 0.007007
onehotencoder__x1_N    0.006962
MAGE                   0.006278
dtype: float64

In [150]:
top20_df = find_top_correlations(X_train_ohe_imputed, y_train)

Top 20 correlations
CARDIAC                0.011286
CERVIX                 0.010087
GAINED                 0.008894
onehotencoder__x1_S    0.008514
TERMS                  0.008055
BDEAD                  0.007951
TOTALP                 0.007463
HYDRAM                 0.007007
onehotencoder__x1_N    0.006962
MAGE                   0.006278
onehotencoder__x1_O    0.006191
HERPES                 0.006062
FEDUC                  0.005683
ACLUNG                 0.005537
RACEDAD                0.005357
RACEMOM                0.005348
onehotencoder__x0_O    0.005264
VISITS                 0.005204
PINFANT                0.004799
UTERINE                0.004468
dtype: float64

## TASK 7: 
Given the X_train_ohe_imputed (as Pandas dataframe from task 5) and and top20_df (as Pandas Dataframe from Task 6) having 2 columns {variable_name,corr_score} similar to the one you computed in Task 6:
* Please save as X_train_t20 keeping only the columns listed in the top20_df dataframe.
* Repeat the process for X_test_ohe (obtained from task 4), and save it as X_test_t20.

In [151]:
#function for task 7 : 
def getX_t20(top20_df,X_ohe_imputed): 
    selected_cols = []
    
    for index in top20_df.iterrows(): 
        selected_cols.append(index[0])

    X_t20 = pd.DataFrame(X_ohe_imputed, columns = selected_cols)  
    
    return X_t20

In [152]:
print('X_train_t20 keeping only the columns listed in the top20_df dataframe')
X_train_t20 = getX_t20(top20_df,X_train_ohe_imputed)

X_train_t20.head()

X_train_t20 keeping only the columns listed in the top20_df dataframe

,CARDIAC,CERVIX,GAINED,onehotencoder__x1_S,TERMS,BDEAD,TOTALP,HYDRAM,onehotencoder__x1_N,MAGE,onehotencoder__x1_O,HERPES,FEDUC,ACLUNG,RACEDAD,RACEMOM,onehotencoder__x0_O,VISITS,PINFANT,UTERINE
0,0.0,0.0,50.0,0.0,0.0,0.0,3.0,0.0,1.0,32.0,0.0,0.0,12.0,0.0,1.0,1.0,0.0,16.0,1.0,0.0
1,0.0,0.0,50.0,0.0,0.0,0.0,2.0,0.0,1.0,20.0,0.0,0.0,12.0,0.0,2.0,2.0,0.0,13.0,0.0,0.0
2,0.0,0.0,38.0,0.0,0.0,0.0,1.0,0.0,1.0,21.0,0.0,0.0,12.0,0.0,1.0,1.0,0.0,11.0,0.0,0.0
3,0.0,0.0,20.0,0.0,0.0,0.0,1.0,0.0,1.0,19.0,0.0,0.0,12.0,0.0,1.0,1.0,0.0,10.0,0.0,0.0
4,0.0,0.0,30.0,0.0,0.0,0.0,3.0,0.0,1.0,30.0,0.0,0.0,16.0,0.0,1.0,1.0,0.0,13.0,0.0,0.0

In [153]:
#Get X_test_ohe_imputed first 
missing = X_test_ohe.isnull().sum()
print(missing)

X_test_ohe_imputed = X_test_ohe.copy()

missing_cols = []
for item in missing.iteritems(): 
    if item[1] != 0:
        #print(item)
        missing_cols.append(item[0])
        
print('Columns with missing values:')
print(missing_cols)

onehotencoder__x0_C    0
onehotencoder__x0_M    0
onehotencoder__x0_N    0
onehotencoder__x0_O    0
onehotencoder__x0_P    0
onehotencoder__x0_S    0
onehotencoder__x0_U    0
onehotencoder__x1_C    0
onehotencoder__x1_M    0
onehotencoder__x1_N    0
onehotencoder__x1_O    0
onehotencoder__x1_P    0
onehotencoder__x1_S    0
onehotencoder__x1_U    0
SEX                    0
MARITAL                0
FAGE                   0
GAINED                 0
VISITS                 0
MAGE                   0
FEDUC                  0
MEDUC                  0
TOTALP                 0
BDEAD                  0
TERMS                  0
LOUTCOME               0
WEEKS                  0
RACEMOM                0
RACEDAD                0
CIGNUM                 0
DRINKNUM               0
ANEMIA                 0
CARDIAC                0
ACLUNG                 0
DIABETES               0
HERPES                 0
HYDRAM                 0
HEMOGLOB               0
HYPERCH                0
HYPERPR                0
ECLAMP                 0
CERVIX                 0
PINFANT                0
PRETERM                0
RENAL                  0
RHSEN                  0
UTERINE                0
dtype: int64
Columns with missing values:
[]

In [154]:
for col in missing_cols:
    value = X_test_ohe[col].mean()
    X_test_ohe_imputed[col].fillna(value, inplace=True)

In [155]:
X_test_ohe_imputed

,onehotencoder__x0_C,onehotencoder__x0_M,onehotencoder__x0_N,onehotencoder__x0_O,onehotencoder__x0_P,onehotencoder__x0_S,onehotencoder__x0_U,onehotencoder__x1_C,onehotencoder__x1_M,onehotencoder__x1_N,onehotencoder__x1_O,onehotencoder__x1_P,onehotencoder__x1_S,onehotencoder__x1_U,SEX,MARITAL,FAGE,GAINED,VISITS,MAGE,FEDUC,MEDUC,TOTALP,BDEAD,TERMS,LOUTCOME,WEEKS,RACEMOM,RACEDAD,CIGNUM,DRINKNUM,ANEMIA,CARDIAC,ACLUNG,DIABETES,HERPES,HYDRAM,HEMOGLOB,HYPERCH,HYPERPR,ECLAMP,CERVIX,PINFANT,PRETERM,RENAL,RHSEN,UTERINE
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,30.0,33.0,16.0,29.0,16.0,17.0,1.0,0.0,0.0,9.0,39.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,23.0,20.0,10.0,22.0,12.0,15.0,2.0,0.0,0.0,1.0,39.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,24.0,34.0,12.0,21.0,10.0,14.0,2.0,0.0,0.0,1.0,38.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,32.0,16.0,15.0,28.0,12.0,13.0,2.0,0.0,0.0,1.0,39.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,26.0,30.0,7.0,30.0,16.0,16.0,4.0,0.0,1.0,2.0,39.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25345,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,26.0,0.0,8.0,27.0,13.0,14.0,2.0,0.0,0.0,1.0,40.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25346,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,33.0,30.0,12.0,29.0,8.0,6.0,4.0,0.0,0.0,1.0,39.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25347,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,31.0,28.0,3.0,34.0,10.0,10.0,4.0,0.0,1.0,1.0,41.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25348,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,38.0,29.0,10.0,39.0,17.0,17.0,2.0,0.0,0.0,1.0,36.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25349,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,37.0,30.0,12.0,37.0,16.0,17.0,3.0,0.0,0.0,1.0,38.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [156]:
#use top20 correlations, and get data from top 20 cols only 
X_test_t20 = getX_t20(top20_df,X_test_ohe_imputed)
top20_variables = X_test_t20.columns
top20_variables

Index(['CARDIAC', 'CERVIX', 'GAINED', 'onehotencoder__x1_S', 'TERMS', 'BDEAD',
       'TOTALP', 'HYDRAM', 'onehotencoder__x1_N', 'MAGE',
       'onehotencoder__x1_O', 'HERPES', 'FEDUC', 'ACLUNG', 'RACEDAD',
       'RACEMOM', 'onehotencoder__x0_O', 'VISITS', 'PINFANT', 'UTERINE'],
      dtype='object')

In [157]:
X_test_t20.head()

,CARDIAC,CERVIX,GAINED,onehotencoder__x1_S,TERMS,BDEAD,TOTALP,HYDRAM,onehotencoder__x1_N,MAGE,onehotencoder__x1_O,HERPES,FEDUC,ACLUNG,RACEDAD,RACEMOM,onehotencoder__x0_O,VISITS,PINFANT,UTERINE
0,0.0,0.0,33.0,0.0,0.0,0.0,1.0,0.0,1.0,29.0,0.0,0.0,16.0,0.0,1.0,1.0,0.0,16.0,0.0,0.0
1,0.0,0.0,20.0,0.0,0.0,0.0,2.0,0.0,1.0,22.0,0.0,0.0,12.0,0.0,2.0,2.0,0.0,10.0,0.0,0.0
2,0.0,0.0,34.0,0.0,0.0,0.0,2.0,0.0,1.0,21.0,0.0,0.0,10.0,0.0,2.0,2.0,0.0,12.0,0.0,0.0
3,0.0,0.0,16.0,0.0,0.0,0.0,2.0,0.0,1.0,28.0,0.0,0.0,12.0,0.0,1.0,1.0,0.0,15.0,0.0,0.0
4,0.0,0.0,30.0,0.0,1.0,0.0,4.0,0.0,1.0,30.0,0.0,0.0,16.0,0.0,1.0,1.0,0.0,7.0,0.0,0.0

## TASK 8: 
* Apply min-max scaling on the training dataset (X_train_t20 obtained from Task 7). Save the result as X_train_scaled_mm.
* Then scale the test dataset (X_test_t20 obtained from Task 7) based on the metrics you obtain when you scale the training dataset. Save the result as X_test_scaled_mm.
* PLEASE DO NOT SCALE y_train and y_test.

In [158]:
#@TODO: Your code goes here
#from sklearn docuementation
from sklearn.preprocessing import MinMaxScaler

#fit to train set: 
scaler = MinMaxScaler()
X_train_scaled_mm = scaler.fit(X_train_t20)

#scale
X_train_scaled_mm = scaler.transform(X_train_t20)
X_train_scaled_mm = pd.DataFrame(X_train_scaled_mm, columns = X_train_t20.columns)
X_train_scaled_mm.head()

,CARDIAC,CERVIX,GAINED,onehotencoder__x1_S,TERMS,BDEAD,TOTALP,HYDRAM,onehotencoder__x1_N,MAGE,onehotencoder__x1_O,HERPES,FEDUC,ACLUNG,RACEDAD,RACEMOM,onehotencoder__x0_O,VISITS,PINFANT,UTERINE
0,0.0,0.0,0.510204,0.0,0.0,0.0,0.105263,0.0,1.0,0.475,0.0,0.0,0.705882,0.0,0.111111,0.125,0.0,0.326531,1.0,0.0
1,0.0,0.0,0.510204,0.0,0.0,0.0,0.052632,0.0,1.0,0.175,0.0,0.0,0.705882,0.0,0.222222,0.250,0.0,0.265306,0.0,0.0
2,0.0,0.0,0.387755,0.0,0.0,0.0,0.000000,0.0,1.0,0.200,0.0,0.0,0.705882,0.0,0.111111,0.125,0.0,0.224490,0.0,0.0
3,0.0,0.0,0.204082,0.0,0.0,0.0,0.000000,0.0,1.0,0.150,0.0,0.0,0.705882,0.0,0.111111,0.125,0.0,0.204082,0.0,0.0
4,0.0,0.0,0.306122,0.0,0.0,0.0,0.105263,0.0,1.0,0.425,0.0,0.0,0.941176,0.0,0.111111,0.125,0.0,0.265306,0.0,0.0

In [159]:
X_test_scaled_mm = scaler.transform(X_test_t20)
X_test_scaled_mm = pd.DataFrame(X_test_scaled_mm, columns = X_test_t20.columns)
X_test_scaled_mm.head()

,CARDIAC,CERVIX,GAINED,onehotencoder__x1_S,TERMS,BDEAD,TOTALP,HYDRAM,onehotencoder__x1_N,MAGE,onehotencoder__x1_O,HERPES,FEDUC,ACLUNG,RACEDAD,RACEMOM,onehotencoder__x0_O,VISITS,PINFANT,UTERINE
0,0.0,0.0,0.336735,0.0,0.0000,0.0,0.000000,0.0,1.0,0.400,0.0,0.0,0.941176,0.0,0.111111,0.125,0.0,0.326531,0.0,0.0
1,0.0,0.0,0.204082,0.0,0.0000,0.0,0.052632,0.0,1.0,0.225,0.0,0.0,0.705882,0.0,0.222222,0.250,0.0,0.204082,0.0,0.0
2,0.0,0.0,0.346939,0.0,0.0000,0.0,0.052632,0.0,1.0,0.200,0.0,0.0,0.588235,0.0,0.222222,0.250,0.0,0.244898,0.0,0.0
3,0.0,0.0,0.163265,0.0,0.0000,0.0,0.052632,0.0,1.0,0.375,0.0,0.0,0.705882,0.0,0.111111,0.125,0.0,0.306122,0.0,0.0
4,0.0,0.0,0.306122,0.0,0.0625,0.0,0.157895,0.0,1.0,0.425,0.0,0.0,0.941176,0.0,0.111111,0.125,0.0,0.142857,0.0,0.0

## TASK 9: 
* Apply standardization (i.e., normalization) scaling on the training dataset (X_train_t20 obtained from Task 7). Save the result as X_train_scaled_std.
* Then scale the test dataset (X_test_t20 obtained from Task 7) based on the metrics you obtain when you scale the training dataset. Save the result as X_test_scaled_std.
* PLEASE DO NOT SCALE y_train and y_test.

In [160]:
#@TODO: Your code goes here
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(X_train_t20)
X_train_scaled_std = scaler.transform(X_train_t20)
X_train_scaled_std = pd.DataFrame(X_train_scaled_std, columns = X_train_t20.columns)
X_train_scaled_std.head()

,CARDIAC,CERVIX,GAINED,onehotencoder__x1_S,TERMS,BDEAD,TOTALP,HYDRAM,onehotencoder__x1_N,MAGE,onehotencoder__x1_O,HERPES,FEDUC,ACLUNG,RACEDAD,RACEMOM,onehotencoder__x0_O,VISITS,PINFANT,UTERINE
0,-0.065208,-0.061977,1.453173,-0.197498,-0.46241,-0.106858,0.422206,-0.123089,0.450216,0.715158,-0.032042,-0.11402,-0.315860,-0.106127,-0.352703,-0.338693,-0.036827,0.951586,13.034526,-0.058231
1,-0.065208,-0.061977,1.453173,-0.197498,-0.46241,-0.106858,-0.249694,-0.123089,0.450216,-1.297712,-0.032042,-0.11402,-0.315860,-0.106127,0.446721,0.426968,-0.036827,0.148920,-0.076719,-0.058231
2,-0.065208,-0.061977,0.570368,-0.197498,-0.46241,-0.106858,-0.921595,-0.123089,0.450216,-1.129973,-0.032042,-0.11402,-0.315860,-0.106127,-0.352703,-0.338693,-0.036827,-0.386191,-0.076719,-0.058231
3,-0.065208,-0.061977,-0.753839,-0.197498,-0.46241,-0.106858,-0.921595,-0.123089,0.450216,-1.465452,-0.032042,-0.11402,-0.315860,-0.106127,-0.352703,-0.338693,-0.036827,-0.653746,-0.076719,-0.058231
4,-0.065208,-0.061977,-0.018168,-0.197498,-0.46241,-0.106858,0.422206,-0.123089,0.450216,0.379679,-0.032042,-0.11402,1.051506,-0.106127,-0.352703,-0.338693,-0.036827,0.148920,-0.076719,-0.058231

In [161]:
scaler = preprocessing.StandardScaler().fit(X_test_t20)
X_test_scaled_std = scaler.transform(X_test_t20)
X_test_scaled_std = pd.DataFrame(X_test_scaled_std, columns = X_test_t20.columns)
X_test_scaled_std.head()

,CARDIAC,CERVIX,GAINED,onehotencoder__x1_S,TERMS,BDEAD,TOTALP,HYDRAM,onehotencoder__x1_N,MAGE,onehotencoder__x1_O,HERPES,FEDUC,ACLUNG,RACEDAD,RACEMOM,onehotencoder__x0_O,VISITS,PINFANT,UTERINE
0,-0.065714,-0.059021,0.190676,-0.19362,-0.464198,-0.106897,-0.93520,-0.120699,0.450829,0.212673,-0.039754,-0.113961,1.045819,-0.108322,-0.35458,-0.338957,-0.035552,0.967521,-0.072073,-0.060352
1,-0.065714,-0.059021,-0.759517,-0.19362,-0.464198,-0.106897,-0.26671,-0.120699,0.450829,-0.964900,-0.039754,-0.113961,-0.319276,-0.108322,0.45990,0.439143,-0.035552,-0.652916,-0.072073,-0.060352
2,-0.065714,-0.059021,0.263768,-0.19362,-0.464198,-0.106897,-0.26671,-0.120699,0.450829,-1.133124,-0.039754,-0.113961,-1.001824,-0.108322,0.45990,0.439143,-0.035552,-0.112770,-0.072073,-0.060352
3,-0.065714,-0.059021,-1.051884,-0.19362,-0.464198,-0.106897,-0.26671,-0.120699,0.450829,0.044448,-0.039754,-0.113961,-0.319276,-0.108322,-0.35458,-0.338957,-0.035552,0.697448,-0.072073,-0.060352
4,-0.065714,-0.059021,-0.028599,-0.19362,0.758899,-0.106897,1.07027,-0.120699,0.450829,0.380898,-0.039754,-0.113961,1.045819,-0.108322,-0.35458,-0.338957,-0.035552,-1.463134,-0.072073,-0.060352

## TASK 10: 
Given the (X_train_scaled_std, y_train) pairs denoting input matrix and output vector respectively: complete the three function definitions and demonstrate the functionalities of each by calling them with appropriate arguments as instructed below:
* **linear_regression_closed_form_training** : It fits a linear regression model using the closed-form solution to obtain the coefficients, beta's, as a numpy array of m+1 values (Please recall class lecture), where *m* is the number of variables kept in X_train (the first argument to the function). Please measure the cpu_time needed during the training step. cpu_time is not equal to the wall_time. So, use time.perf_counter() for an accurate measurement. Documentation on this function can be found here: https://docs.python.org/3/library/time.html . Finally, the function returns betas (i.e., the m+1 beta values) and the  cpu_time.
* **linear_regression_closed_form_predict**: It takes a list of m+1 beta values (i.e., betas returned from the corresponding training function, and X_test (containing test samples each having *m* input variables). Now, using the provided beta values, predict each of the test samples provided, and let's name your prediction "y_pred". Return y_pred from the function.
* **RMSE**: It takes two lists: y_test, y_pred, where the first list represents ground truth (i.e., actual) target values for the given samples, and the second list represents a corresponding predicted values for exactly same number of samples in y_test. Compute and return the Root Mean Squared Error (RMSE) of the prediction. 

* PLEASE DO NOT USE ANY LIBRARY FUNCTION THAT DOES THE LINEAR REGRESSION.
* Now, call linear_regression_closed_form_training() function providing X_train_scaled_std, y_train obtained from Task 9, and save the returned results as betas_closed_form,cpu_time_closed_form.
* Print betas_closed_form, cpu_time_closed_form
* Call linear_regression_closed_form_predict() function providing betas_closed_form,X_test_scaled_std obtained in Task 9. Save the returned result as y_pred.
* Call RMSE() function providing y_test and y_pred. Save returned result as rmse_closed_form.
* Print rmse_closed_form.

In [162]:
#Add ones to X_train for Beta_0 
X_train_scaled_std.insert(loc=0, column='Ones', value =1)
X_train_scaled_std.head()

X_test_scaled_std.insert(loc=0, column='Ones', value =1)
X_test_scaled_std.head()

,Ones,CARDIAC,CERVIX,GAINED,onehotencoder__x1_S,TERMS,BDEAD,TOTALP,HYDRAM,onehotencoder__x1_N,MAGE,onehotencoder__x1_O,HERPES,FEDUC,ACLUNG,RACEDAD,RACEMOM,onehotencoder__x0_O,VISITS,PINFANT,UTERINE
0,1,-0.065714,-0.059021,0.190676,-0.19362,-0.464198,-0.106897,-0.93520,-0.120699,0.450829,0.212673,-0.039754,-0.113961,1.045819,-0.108322,-0.35458,-0.338957,-0.035552,0.967521,-0.072073,-0.060352
1,1,-0.065714,-0.059021,-0.759517,-0.19362,-0.464198,-0.106897,-0.26671,-0.120699,0.450829,-0.964900,-0.039754,-0.113961,-0.319276,-0.108322,0.45990,0.439143,-0.035552,-0.652916,-0.072073,-0.060352
2,1,-0.065714,-0.059021,0.263768,-0.19362,-0.464198,-0.106897,-0.26671,-0.120699,0.450829,-1.133124,-0.039754,-0.113961,-1.001824,-0.108322,0.45990,0.439143,-0.035552,-0.112770,-0.072073,-0.060352
3,1,-0.065714,-0.059021,-1.051884,-0.19362,-0.464198,-0.106897,-0.26671,-0.120699,0.450829,0.044448,-0.039754,-0.113961,-0.319276,-0.108322,-0.35458,-0.338957,-0.035552,0.697448,-0.072073,-0.060352
4,1,-0.065714,-0.059021,-0.028599,-0.19362,0.758899,-0.106897,1.07027,-0.120699,0.450829,0.380898,-0.039754,-0.113961,1.045819,-0.108322,-0.35458,-0.338957,-0.035552,-1.463134,-0.072073,-0.060352

In [163]:
def linear_regression_closed_form_training(X_train, y_train):
    import numpy as np
    from numpy.linalg import inv
    from time import perf_counter
    cpu_time = 0
    betas = []
    start = perf_counter()

    
    
    #@TODO: Your code goes here

    #solve for the minimum Betas using RSS = (X_T*X)(inverse) (X_T*y)
    x_inv = inv(np.dot(X_train.T,X_train)) #x_inv = (X_T*X)(inverse)
    xTran_y = np.dot(X_train.T, y_train) #xTy = (X_T*y)
    RSS = np.dot(x_inv, xTran_y)
    betas = RSS    
    
    #x_inv = inv(X_train.transpose().dot(X_train)).dot(X.transpose().dot(y_train)
    end = perf_counter()
    cpu_time = end-start
    return betas,cpu_time

def linear_regression_closed_form_predict(betas, X_test):
    y_pred = []
        
    #@TODO: Your code goes here
    
    mx = X_test.dot(betas)
    y_pred = mx.sum(axis=1)
    
    return y_pred

def RMSE(y_test, y_pred):
    #@TODO: Your code goes here

    """
    rmse = -1
    N = len(y_test)
    
    df = y_test['BWEIGHT'].sub(y_pred)    
    df = df*df
    df = df.sum()
    df = df/N
    rmse = np.sqrt(df)
    """
    y_test = np.array(y_test).reshape(y_pred.shape)
    rmse = np.sqrt(np.mean((y_pred-y_test)**2))
    return rmse

In [164]:
#@TODO: Your code goes here
betas_closed_form,cpu_time_closed_form = linear_regression_closed_form_training(X_train_scaled_std,y_train)

In [165]:
#@TODO: Your code goes here
print(cpu_time_closed_form,betas_closed_form)

0.01863520000006247 [[ 7.25699786e+00]
 [-2.83940982e-03]
 [-8.48136490e-02]
 [ 2.29265886e-01]
 [-1.54239058e-02]
 [-9.90196678e-02]
 [-4.89336224e-02]
 [ 9.12841296e-02]
 [-6.40729468e-02]
 [-8.37555761e-02]
 [ 6.25343010e-02]
 [-9.34289363e-03]
 [ 1.46733218e-03]
 [ 4.80833085e-02]
 [-1.23809320e-03]
 [-6.49515656e-02]
 [-3.92789299e-02]
 [-1.86248632e-03]
 [ 1.51928147e-01]
 [ 7.82315052e-02]
 [-4.81151107e-02]]

In [166]:
y_test = y_test.reset_index(drop = True)
y_train = y_train.reset_index(drop = True)

In [167]:
#@TODO: Your code goes here
y_pred = linear_regression_closed_form_predict(betas_closed_form,X_test_scaled_std)

In [168]:
#@TODO: Your code goes here
#Compute and return the Root Mean Squared Error (RMSE) of the prediction.
rmse_closed_form = RMSE(y_test, y_pred)
rmse_closed_form

1.2787745175447585

## TASK 11: 
Given the (X_train_scaled_std, y_train) pairs denoting input matrix and output vector respectively: complete the three function definitions and demonstrate the functionalities of each by calling them with appropriate arguments as instructed below:
* **linear_regression_gd_batch_training** : It fits a linear regression model using the batch gradient descent algorithm to obtain the coefficients, beta's, as a numpy array of m+1 values, where *m* is the number of variables kept in X_train (the first argument to the function). Please use the alpha (i.e, the learning rate) and nEpoch (number of epochs) parameters in your implementation of the gradient descent algorithm. Please measure the cpu_time needed during the training step. cpu_time is not equal to the wall_time. So, use time.perf_counter() for an accurate measurement. Documentation on this function can be found here: https://docs.python.org/3/library/time.html . Finally, the function returns betas (i.e., the m+1 beta values) and the  cpu_time.
* **linear_regression_gd_batch_predict**: It takes a list of m+1 beta values (i.e., betas returned from the corresponding training function, and X_test (containing test samples each having *m* input variables). Now, using the provided beta values, predict each of the test samples provided, and let's name your prediction "y_pred". Return y_pred from the function. 

* PLEASE DO NOT USE ANY LIBRARY FUNCTION THAT DOES THE LINEAR REGRESSION.
* Now, call linear_regression_gd_batch_training() function providing X_train_scaled_std, y_train obtained from Task 9, and alpha=0.01,nEpoch=1000, and save the returned results as betas_batch,cpu_time_batch.
* Print betas_batch, cpu_time_batch
* Call linear_regression_gd_batch_predict() function providing betas_batch,X_test_scaled_std obtained in Task 9. Save the returned result as y_pred.
* Call RMSE() function providing y_test and y_pred. Save returned result as rmse_batch.
* Print rmse_batch.

In [169]:
def linear_regression_gd_batch_training(X_train,y_train, alpha, nEpoch):
    import random
    random.seed(554433)
    from time import perf_counter
    import numpy as np
    betas = []
    cpu_time = 0
    start = perf_counter()
    #@TODO: Your code goes here
    
    #first initialize betas to random 
    for feature in X_train:
        beta = random.random()
        betas.append(beta)
    for epoch in range(nEpoch):
        
        mx = X_train.mul(betas)
        y_pred = mx.sum(axis=1)            
        
        #m = len(X_train.columns) #number of variables 
        N = len(y_train) #number of samples
        #diff = (y_train['BWEIGHT'].subtract(y_pred))
        
        betas = betas - (1.0/N)*alpha*(X_train.T.dot((y_train['BWEIGHT']-y_pred)))
        #betas = betas - grad
        
    end = perf_counter()
    cpu_time = end-start
    return betas, cpu_time

def linear_regression_gd_batch_predict(betas,X_test):
    
    #@TODO: Your code goes here
    mx = X_test.mul(betas)
    y_pred = mx.sum(axis=1)
    return y_pred

In [170]:
#@TODO: Your code goes here
betas_batch, cpu_time_batch = linear_regression_gd_batch_training(X_train_scaled_std,y_train,0.01,1000)

In [171]:
print(cpu_time_batch)
print(betas_batch)

18.93855460000009
Ones                  -1.500960e+05
CARDIAC                2.404602e+07
CERVIX                 6.314778e+07
GAINED                 1.215494e+08
onehotencoder__x1_S   -5.705516e+08
TERMS                  2.887999e+08
BDEAD                  5.210916e+07
TOTALP                 1.834149e+08
HYDRAM                -2.755272e+07
onehotencoder__x1_N    8.502707e+08
MAGE                   4.964832e+08
onehotencoder__x1_O   -6.666683e+07
HERPES                 4.701407e+07
FEDUC                  7.988697e+08
ACLUNG                -5.556613e+06
RACEDAD                6.263436e+08
RACEMOM                6.191519e+08
onehotencoder__x0_O   -5.444407e+07
VISITS                 3.619224e+08
PINFANT                1.461908e+07
UTERINE                4.444304e+06
dtype: float64

In [172]:
#@TODO: Your code goes here
y_pred = linear_regression_gd_batch_predict(betas_batch,X_test_scaled_std)

In [173]:
#@TODO: Your code goes here
print(y_pred)

0        1.061464e+09
1       -2.011646e+08
2       -5.100815e+08
3       -2.387565e+08
4        9.596871e+08
             ...
25345   -8.760098e+08
25346   -3.438747e+09
25347   -3.020123e+09
25348    5.042240e+09
25349    1.557218e+09
Length: 25350, dtype: float64

In [174]:
rmse_batch = RMSE(y_test, y_pred)
print(rmse_batch)

2523280973.8430014

## TASK 12:
Given the (X_train_scaled_std, y_train) pairs denoting input matrix and output vector respectively: complete the three function definitions and demonstrate the functionalities of each by calling them with appropriate arguments as instructed below:
* **linear_regression_gd_stochastic_training** : It fits a linear regression model using the stochastic gradient descent algorithm to obtain the coefficients, beta's, as a numpy array of m+1 values, where *m* is the number of variables kept in X_train (the first argument to the function). Please use the alpha (i.e, the learning rate), nEpoch (number of epochs), nIteration (number of iterations) parameters in your implementation of the gradient descent algorithm. Please measure the cpu_time needed during the training step. cpu_time is not equal to the wall_time. So, use time.perf_counter() for an accurate measurement. Documentation on this function can be found here: https://docs.python.org/3/library/time.html . Finally, the function returns betas (i.e., the m+1 beta values) and the  cpu_time.
* **linear_regression_gd_stochastic_predict**: It takes a list of m+1 beta values (i.e., betas returned from the corresponding training function, and X_test (containing test samples each having *m* input variables). Now, using the provided beta values, predict each of the test samples provided, and let's name your prediction "y_pred". Return y_pred from the function. 

* PLEASE DO NOT USE ANY LIBRARY FUNCTION THAT DOES THE LINEAR REGRESSION.
* Now, call linear_regression_gd_stochastic_training() function providing X_train_scaled_std, y_train obtained from Task 9, and alpha=0.01,nEpoch=50, nIteration=100 , and save the returned results as betas_stochastic,cpu_time_stochastic.
* Print betas_stochastic, cpu_time_stochastic
* Call linear_regression_gd_stochastic_predict() function providing betas_stochastic,X_test_scaled_std obtained in Task 9. Save the returned result as y_pred.
* Call RMSE() function providing y_test and y_pred. Save returned result as rmse_stochastic.
* Print rmse_stochastic.

In [201]:
def linear_regression_gd_stochastic_training(X_train,y_train,alpha,nEpoch,nIteration):
    import random
    from time import perf_counter
    import numpy as np
    random.seed(554433)
    betas = []
    cpu_time = 0
    start = perf_counter()
    
    ## YOUR CODE HERE ###

    #first initialize betas to random 
    for feature in X_train:
        beta = random.random()
        betas.append(beta)

    for epoch in range(nEpoch):
        print('EPOCH:', epoch)
        
         
        N = len(y_train)

        for it in range(nIteration):
            #for 1 random samples calculate new weight using derivate equation 

            rand_index = np.random.randint(0,N)
            X_rand = X_train.loc[[rand_index]]
            y_train_rand = y_train.loc[[rand_index]]            
            
            mx = X_rand.mul(betas)
            y_pred = mx.sum(axis=1)
        
            grad = (1.0/N)*alpha*(X_rand.T.dot((y_train_rand['BWEIGHT'].subtract(y_pred))))
            betas = betas - grad
                    
    end = perf_counter()
    cpu_time = end-start
    
    return betas, cpu_time

def linear_regression_gd_stochastic_predict(betas, X_test):

    y_pred = []
    #@TODO: Your code goes here
    mx = X_test.mul(betas)
    y_pred = mx.sum(axis=1)    
    
    return y_pred

In [202]:
#@TODO: Your code goes here
betas_stochastic,cpu_time_stochastic= linear_regression_gd_stochastic_training( X_train_scaled_std, y_train,0.01,50,100)

EPOCH: 0
EPOCH: 1
EPOCH: 2
EPOCH: 3
EPOCH: 4
EPOCH: 5
EPOCH: 6
EPOCH: 7
EPOCH: 8
EPOCH: 9
EPOCH: 10
EPOCH: 11
EPOCH: 12
EPOCH: 13
EPOCH: 14
EPOCH: 15
EPOCH: 16
EPOCH: 17
EPOCH: 18
EPOCH: 19
EPOCH: 20
EPOCH: 21
EPOCH: 22
EPOCH: 23
EPOCH: 24
EPOCH: 25
EPOCH: 26
EPOCH: 27
EPOCH: 28
EPOCH: 29
EPOCH: 30
EPOCH: 31
EPOCH: 32
EPOCH: 33
EPOCH: 34
EPOCH: 35
EPOCH: 36
EPOCH: 37
EPOCH: 38
EPOCH: 39
EPOCH: 40
EPOCH: 41
EPOCH: 42
EPOCH: 43
EPOCH: 44
EPOCH: 45
EPOCH: 46
EPOCH: 47
EPOCH: 48
EPOCH: 49

In [203]:
#@TODO: Your code goes here

print(cpu_time_stochastic)
print(betas_stochastic)

15.63427369999954
Ones                   0.090601
CARDIAC                0.696778
CERVIX                 0.442860
GAINED                 0.237298
onehotencoder__x1_S    0.155561
TERMS                  0.844656
BDEAD                  0.100189
TOTALP                 0.646359
HYDRAM                 0.305064
onehotencoder__x1_N    0.120960
MAGE                   0.737402
onehotencoder__x1_O    0.180377
HERPES                 0.806681
FEDUC                  0.879577
ACLUNG                 0.719055
RACEDAD                0.940370
RACEMOM                0.164970
onehotencoder__x0_O    0.023022
VISITS                 0.658191
PINFANT                0.956643
UTERINE                0.611618
dtype: float64

In [204]:
#@TODO: Your code goes here

y_pred = linear_regression_gd_stochastic_predict(betas_stochastic,X_test_scaled_std)

In [205]:
y_pred

0        0.084735
1       -1.949991
2       -2.076051
3       -1.280553
4        0.886265
           ...
25345   -2.626254
25346   -2.106334
25347   -1.487163
25348    1.820097
25349    1.178226
Length: 25350, dtype: float64

In [206]:
#@TODO: Your code goes here

rmse_stochastic = RMSE(y_test, y_pred)

In [207]:
#@TODO: Your code goes here
print(rmse_stochastic)

7.944411822870653

## Task 13: 
Given the (X_train_scaled_std, y_train) pairs denoting input matrix and output vector respectively: complete the three function definitions and demonstrate the functionalities of each by calling them with appropriate arguments as instructed below:
* **linear_regression_gd_minibatch_training** : It fits a linear regression model using the minibatch gradient descent algorithm to obtain the coefficients, beta's, as a numpy array of m+1 values, where *m* is the number of variables kept in X_train (the first argument to the function). Please use the alpha (i.e, the learning rate), nEpoch (number of epochs), nIteration (number of iterations), and batch_size parameters in your implementation of the gradient descent algorithm. Please measure the cpu_time needed during the training step. cpu_time is not equal to the wall_time. So, use time.perf_counter() for an accurate measurement. Documentation on this function can be found here: https://docs.python.org/3/library/time.html . Finally, the function returns betas (i.e., the m+1 beta values) and the  cpu_time.
* **linear_regression_gd_minibatch_predict**: It takes a list of m+1 beta values (i.e., betas returned from the corresponding training function, and X_test (containing test samples each having *m* input variables). Now, using the provided beta values, predict each of the test samples provided, and let's name your prediction "y_pred". Return y_pred from the function. 

* PLEASE DO NOT USE ANY LIBRARY FUNCTION THAT DOES THE LINEAR REGRESSION.
* Now, call linear_regression_gd_minibatch_training() function providing X_train_scaled_std, y_train obtained from Task 9, and alpha=0.001,nEpoch=50, nIteration=1000,batch_size=32, and save the returned results as betas_minibatch,cpu_time_minibatch.
* Print betas_minibatch, cpu_time_minibatch
* Call linear_regression_gd_minibatch_predict() function providing betas_minibatch,X_test_scaled_std obtained in Task 9. Save the returned result as y_pred.
* Call RMSE() function providing y_test and y_pred. Save returned result as rmse_minibatch.
* Print rmse_minibatch.

In [208]:
def linear_regression_gd_minibatch_training(X_train,y_train,alpha,nEpoch, nIteration, batch_size):
    import random
    from time import perf_counter
    import numpy as np
    random.seed(554433)

    betas = []
    cpu_time = 0

    ## YOUR CODE HERE ###
    
    start = perf_counter()
    
    ## YOUR CODE HERE ###
    #first initialize betas to random 
    for feature in X_train:
        beta = random.random()
        betas.append(beta)
        
    for epoch in range(nEpoch):
        print('EPOCH:', epoch)
        N = len(y_train)
        
        for it in range(nIteration):
            #for n=batch_size random samples in each col calculate new weight using derivate equation 
            X_train_batch = X_train.sample(batch_size)
            indices = X_train_batch.index
            
            temp_series = []
            y_train_batch = pd.DataFrame()
            
            for index in indices: 
                row = y_train.loc[index]
                temp_series.append(row)
                
            y_train_batch = pd.DataFrame(temp_series)
            
            
            mx = X_train_batch.mul(betas)
            y_pred = mx.sum(axis=1)
        
            grad = (1.0/N)*alpha*(X_train_batch.T.dot((y_train_batch['BWEIGHT'].subtract(y_pred))))
            betas = betas - grad

    end = perf_counter()
    cpu_time = end-start
    
    
    return betas,cpu_time

def linear_regression_gd_minibatch_predict(betas,X_test):
    y_pred = []
    ## YOUR CODE HERE ###

    mx = X_test.mul(betas)
    y_pred = mx.sum(axis=1)    
    
    return y_pred

In [209]:
## YOUR CODE HERE ###

betas_minibatch,cpu_time_minibatch = linear_regression_gd_minibatch_training(X_train_scaled_std, y_train,.001, 50, 1000, 32)

EPOCH: 0
EPOCH: 1
EPOCH: 2
EPOCH: 3
EPOCH: 4
EPOCH: 5
EPOCH: 6
EPOCH: 7
EPOCH: 8
EPOCH: 9
EPOCH: 10
EPOCH: 11
EPOCH: 12
EPOCH: 13
EPOCH: 14
EPOCH: 15
EPOCH: 16
EPOCH: 17
EPOCH: 18
EPOCH: 19
EPOCH: 20
EPOCH: 21
EPOCH: 22
EPOCH: 23
EPOCH: 24
EPOCH: 25
EPOCH: 26
EPOCH: 27
EPOCH: 28
EPOCH: 29
EPOCH: 30
EPOCH: 31
EPOCH: 32
EPOCH: 33
EPOCH: 34
EPOCH: 35
EPOCH: 36
EPOCH: 37
EPOCH: 38
EPOCH: 39
EPOCH: 40
EPOCH: 41
EPOCH: 42
EPOCH: 43
EPOCH: 44
EPOCH: 45
EPOCH: 46
EPOCH: 47
EPOCH: 48
EPOCH: 49

In [210]:
## YOUR CODE HERE ###
print(cpu_time_minibatch)
print(betas_minibatch)

856.0265894000004
Ones                  -0.057050
CARDIAC                0.712343
CERVIX                 0.456196
GAINED                 0.237546
onehotencoder__x1_S    0.150968
TERMS                  0.877301
BDEAD                  0.107663
TOTALP                 0.675623
HYDRAM                 0.312877
onehotencoder__x1_N    0.140118
MAGE                   0.768145
onehotencoder__x1_O    0.183656
HERPES                 0.825115
FEDUC                  0.907102
ACLUNG                 0.734988
RACEDAD                0.965977
RACEMOM                0.186880
onehotencoder__x0_O    0.023582
VISITS                 0.673559
PINFANT                0.976598
UTERINE                0.625840
dtype: float64

In [211]:
## YOUR CODE HERE ###
y_pred = linear_regression_gd_minibatch_predict(betas_minibatch,X_train_scaled_std)

In [212]:
## YOUR CODE HERE ###
y_pred

0        13.090243
1        -1.339630
2        -3.150180
3        -3.902651
4         0.378319
           ...
76045    -2.048043
76046    -1.653599
76047    -1.107597
76048    -0.536366
76049    -0.282196
Length: 76050, dtype: float64

In [213]:
## YOUR CODE HERE ###

rmse_minibatch = RMSE(y_test, y_pred)

In [214]:
print(rmse_minibatch)

8.120950138912287

## Task 14:
Given the 4 sets of results from the 4 experiments (from Tasks 10, 11, 12, 13) with closed form solution, batch gradient descent, stochastic gradient descent and mini-batch gradient descent, print a string from the set {"closed-form", "batch-GD", "stochastic-GD", "minibatch-GD"} that demonstrated the best predictive performance in terms of RMSE.

In [215]:
## YOUR CODE HERE ###
min_rmse_model = min(rmse_closed_form,rmse_batch,rmse_stochastic, rmse_minibatch)

print('closed-form',min_rmse_model)

closed-form 1.278774517544755

## Task 15: 
Given the 4 sets of results from the 4 experiments (from Tasks 10, 11, 12, 13) with closed form solution, batch gradient descent, stochastic gradient descent and mini-batch gradient descent, print a string from the set {"closed-form", "batch-GD", "stochastic-GD", "minibatch-GD"} that demonstrated the least training cpu time.

In [216]:
## YOUR CODE HERE ###

min_cpu_time = min(cpu_time_closed_form,cpu_time_batch,cpu_time_stochastic,cpu_time_minibatch)

print('closed-form',min_cpu_time)

closed-form 1.4654454000001351

## Task 16: 
Given the (X_train_scaled_std, y_train) pairs denoting input matrix and output vector respectively, 
* call your implementation of Task 12: stochastic gradient descent based linear regression for each of these learning rates: {0.0001, 0.001, 0.05, 0.01, 0.1, 1.0}
    * Please use the nIteration (number of iterations), nEpoch (number of epoch) parameters in your implementation of the gradient descent algorithm.

* For each of the linear regression model, using the computed beta values, predict the test samples provided in the "X_test_scaled_std" argument, and let's name your prediction "y_pred".
* Compute Root Mean Squared Error (RMSE) of your prediction using the RMSE() function you defined in Task 10.
* Finally, print the learning rate that shows the best test performance, and also print as a pandas dataframe named summary with 2 columns: {learning_rate, test_RMSE} containing RMSE's of the 6 linear regression models. Also, print the best performing learning rate.
* PLEASE DO NOT USE ANY LIBRARY FUNCTION THAT DOES THE LINEAR REGRESSION.

In [217]:
## YOUR CODE HERE ###

alpha = [0.0001, 0.001, 0.05, 0.01, 0.1, 1.0]
rmses = []

for a in alpha:
    betas, cpu_time = linear_regression_gd_stochastic_training(X_train_scaled_std,y_train,a,50,100)
    y_pred = linear_regression_gd_stochastic_predict(betas,X_test_scaled_std)
    rmse = RMSE(y_test, y_pred)
    temp_object = (a,rmse)
    rmses.append(temp_object)
    
rmse_df = pd.DataFrame(rmses, columns =['learning_rate', 'test_RMSE'])

EPOCH: 0
EPOCH: 1
EPOCH: 2
EPOCH: 3
EPOCH: 4
EPOCH: 5
EPOCH: 6
EPOCH: 7
EPOCH: 8
EPOCH: 9
EPOCH: 10
EPOCH: 11
EPOCH: 12
EPOCH: 13
EPOCH: 14
EPOCH: 15
EPOCH: 16
EPOCH: 17
EPOCH: 18
EPOCH: 19
EPOCH: 20
EPOCH: 21
EPOCH: 22
EPOCH: 23
EPOCH: 24
EPOCH: 25
EPOCH: 26
EPOCH: 27
EPOCH: 28
EPOCH: 29
EPOCH: 30
EPOCH: 31
EPOCH: 32
EPOCH: 33
EPOCH: 34
EPOCH: 35
EPOCH: 36
EPOCH: 37
EPOCH: 38
EPOCH: 39
EPOCH: 40
EPOCH: 41
EPOCH: 42
EPOCH: 43
EPOCH: 44
EPOCH: 45
EPOCH: 46
EPOCH: 47
EPOCH: 48
EPOCH: 49
EPOCH: 0
EPOCH: 1
EPOCH: 2
EPOCH: 3
EPOCH: 4
EPOCH: 5
EPOCH: 6
EPOCH: 7
EPOCH: 8
EPOCH: 9
EPOCH: 10
EPOCH: 11
EPOCH: 12
EPOCH: 13
EPOCH: 14
EPOCH: 15
EPOCH: 16
EPOCH: 17
EPOCH: 18
EPOCH: 19
EPOCH: 20
EPOCH: 21
EPOCH: 22
EPOCH: 23
EPOCH: 24
EPOCH: 25
EPOCH: 26
EPOCH: 27
EPOCH: 28
EPOCH: 29
EPOCH: 30
EPOCH: 31
EPOCH: 32
EPOCH: 33
EPOCH: 34
EPOCH: 35
EPOCH: 36
EPOCH: 37
EPOCH: 38
EPOCH: 39
EPOCH: 40
EPOCH: 41
EPOCH: 42
EPOCH: 43
EPOCH: 44
EPOCH: 45
EPOCH: 46
EPOCH: 47
EPOCH: 48
EPOCH: 49
EPOCH: 0
EPOCH: 1
EPOCH: 2
EPOCH: 3
EPOCH: 4
EPOCH: 5
EPOCH: 6
EPOCH: 7
EPOCH: 8
EPOCH: 9
EPOCH: 10
EPOCH: 11
EPOCH: 12
EPOCH: 13
EPOCH: 14
EPOCH: 15
EPOCH: 16
EPOCH: 17
EPOCH: 18
EPOCH: 19
EPOCH: 20
EPOCH: 21
EPOCH: 22
EPOCH: 23
EPOCH: 24
EPOCH: 25
EPOCH: 26
EPOCH: 27
EPOCH: 28
EPOCH: 29
EPOCH: 30
EPOCH: 31
EPOCH: 32
EPOCH: 33
EPOCH: 34
EPOCH: 35
EPOCH: 36
EPOCH: 37
EPOCH: 38
EPOCH: 39
EPOCH: 40
EPOCH: 41
EPOCH: 42
EPOCH: 43
EPOCH: 44
EPOCH: 45
EPOCH: 46
EPOCH: 47
EPOCH: 48
EPOCH: 49
EPOCH: 0
EPOCH: 1
EPOCH: 2
EPOCH: 3
EPOCH: 4
EPOCH: 5
EPOCH: 6
EPOCH: 7
EPOCH: 8
EPOCH: 9
EPOCH: 10
EPOCH: 11
EPOCH: 12
EPOCH: 13
EPOCH: 14
EPOCH: 15
EPOCH: 16
EPOCH: 17
EPOCH: 18
EPOCH: 19
EPOCH: 20
EPOCH: 21
EPOCH: 22
EPOCH: 23
EPOCH: 24
EPOCH: 25
EPOCH: 26
EPOCH: 27
EPOCH: 28
EPOCH: 29
EPOCH: 30
EPOCH: 31
EPOCH: 32
EPOCH: 33
EPOCH: 34
EPOCH: 35
EPOCH: 36
EPOCH: 37
EPOCH: 38
EPOCH: 39
EPOCH: 40
EPOCH: 41
EPOCH: 42
EPOCH: 43
EPOCH: 44
EPOCH: 45
EPOCH: 46
EPOCH: 47
EPOCH: 48
EPOCH: 49
EPOCH: 0
EPOCH: 1
EPOCH: 2
EPOCH: 3
EPOCH: 4
EPOCH: 5
EPOCH: 6
EPOCH: 7
EPOCH: 8
EPOCH: 9
EPOCH: 10
EPOCH: 11
EPOCH: 12
EPOCH: 13
EPOCH: 14
EPOCH: 15
EPOCH: 16
EPOCH: 17
EPOCH: 18
EPOCH: 19
EPOCH: 20
EPOCH: 21
EPOCH: 22
EPOCH: 23
EPOCH: 24
EPOCH: 25
EPOCH: 26
EPOCH: 27
EPOCH: 28
EPOCH: 29
EPOCH: 30
EPOCH: 31
EPOCH: 32
EPOCH: 33
EPOCH: 34
EPOCH: 35
EPOCH: 36
EPOCH: 37
EPOCH: 38
EPOCH: 39
EPOCH: 40
EPOCH: 41
EPOCH: 42
EPOCH: 43
EPOCH: 44
EPOCH: 45
EPOCH: 46
EPOCH: 47
EPOCH: 48
EPOCH: 49
EPOCH: 0
EPOCH: 1
EPOCH: 2
EPOCH: 3
EPOCH: 4
EPOCH: 5
EPOCH: 6
EPOCH: 7
EPOCH: 8
EPOCH: 9
EPOCH: 10
EPOCH: 11
EPOCH: 12
EPOCH: 13
EPOCH: 14
EPOCH: 15
EPOCH: 16
EPOCH: 17
EPOCH: 18
EPOCH: 19
EPOCH: 20
EPOCH: 21
EPOCH: 22
EPOCH: 23
EPOCH: 24
EPOCH: 25
EPOCH: 26
EPOCH: 27
EPOCH: 28
EPOCH: 29
EPOCH: 30
EPOCH: 31
EPOCH: 32
EPOCH: 33
EPOCH: 34
EPOCH: 35
EPOCH: 36
EPOCH: 37
EPOCH: 38
EPOCH: 39
EPOCH: 40
EPOCH: 41
EPOCH: 42
EPOCH: 43
EPOCH: 44
EPOCH: 45
EPOCH: 46
EPOCH: 47
EPOCH: 48
EPOCH: 49

In [218]:
rmse_df.head()

   learning_rate  test_RMSE
0         0.0001   7.938791
1         0.0010   7.939305
2         0.0500   7.966681
3         0.0100   7.944332
4         0.1000   7.995089

In [219]:
minidx = rmse_df[['test_RMSE']].idxmin()
print(rmse_df.loc[minidx])

   learning_rate  test_RMSE
0         0.0001   7.938791

## Task 17:
* Utilizing the best trained linear regression model (so far), predict the target for each of the samples in the judge_dataset.
    * I believe you will not forget to do the following before call in the prediction algorithm:
        - Save the ID values of the judge dataset into ID_judge and drop it from the judge dataframe.
        - Perform onehot encoding using the same encoder you used to encode X_test (Task 4). 
        - keep only the same top 20 variables as you did in Task 7. 
        - scale the input variables based on the same metrics you used to scale the training dataset (Task 9). 
    * Now, call the prediction function of that model to obtain y_pred.
    * Prepare and print as a pandas dataframe having columns: {ID, BWEIGHT}, where ID will the ID of the judge sample, and BWEIGHT is the corresponding y_pred value from your model prediction.
* PLEASE DO NOT USE ANY LIBRARY FUNCTION THAT DOES THE LINEAR REGRESSION.

In [220]:
judge_dataset

,ID,SEX,MARITAL,FAGE,GAINED,VISITS,MAGE,FEDUC,MEDUC,TOTALP,BDEAD,TERMS,LOUTCOME,WEEKS,RACEMOM,RACEDAD,HISPMOM,HISPDAD,CIGNUM,DRINKNUM,ANEMIA,CARDIAC,ACLUNG,DIABETES,HERPES,HYDRAM,HEMOGLOB,HYPERCH,HYPERPR,ECLAMP,CERVIX,PINFANT,PRETERM,RENAL,RHSEN,UTERINE
0,1,1,1,30,70,11,26,14,16,4,0,3,9,36,1,1,N,N,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,2,2,21,36,15,18,9,12,1,0,0,9,41,3,3,N,N,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
2,3,2,1,22,18,10,25,12,12,5,0,3,2,39,1,1,S,N,20,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2,1,24,25,10,22,12,11,4,0,0,1,39,1,1,N,N,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2,1,24,38,15,26,12,12,1,0,0,9,38,1,1,N,N,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,2,1,21,17,9,21,13,12,1,0,0,9,35,1,1,N,N,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1996,1997,1,1,27,20,10,26,16,16,2,0,0,1,39,1,1,N,N,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1997,1998,1,1,29,25,17,27,12,12,2,0,0,1,40,1,1,N,N,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1998,1999,1,1,37,29,11,34,12,16,2,0,0,1,38,1,1,N,N,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1999,2000,1,2,30,20,13,27,12,13,2,0,0,1,34,1,1,N,N,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [221]:
## YOUR CODE HERE ###

#Save the ID values of the judge dataset into ID_judge and drop it from the judge dataframe.

original_df = judge_dataset.copy()
Id_judge = judge_dataset['ID']
X_test = judge_dataset.drop(['ID'], axis=1)
print(X_test.shape)

(2000, 35)

In [222]:
#Perform onehot encoding using the same encoder you used to encode X_test (Task 4).
# Categorical boolean mask
categorical_feature_mask = X_test.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = X_test.columns[categorical_feature_mask].tolist()
cat_columns_idx = [X_test.columns.get_loc(col) 
                   for col in categorical_cols]

In [223]:

# use when different features need different preprocessing
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
column_trans = make_column_transformer(
    (OneHotEncoder(), categorical_cols),
    remainder='passthrough')

In [224]:
X_test_ohe = pd.DataFrame(column_trans.fit_transform(X_test),columns=column_trans.get_feature_names())
missing = X_test_ohe.isnull().sum()

X_test_ohe_imputed = X_test_ohe.copy()
missing_cols = []
for item in missing.iteritems(): 
    if item[1] != 0:
        missing_cols.append(item[0])
        
print('Columns with missing values:')
print(missing_cols)  

for col in missing_cols:
    X_test_ohe_imputed[col].fillna(value=(X_test_ohe[col].mean()), inplace=True)

Columns with missing values:
[]

In [225]:
#keep only the same top 20 variables as you did in Task 7.
X_test_t20 = getX_t20(top20_df,X_test_ohe_imputed)
X_test_t20.shape

(2000, 20)

In [226]:
#scale the input variables based on the same metrics you used to scale the training dataset (Task 9).

scaler = preprocessing.StandardScaler().fit(X_test_t20)
X_test_scaled_std = scaler.transform(X_test_t20)
X_test_scaled_std = pd.DataFrame(X_test_scaled_std, columns = X_test_t20.columns)
X_test_scaled_std.head()

,CARDIAC,CERVIX,GAINED,onehotencoder__x1_S,TERMS,BDEAD,TOTALP,HYDRAM,onehotencoder__x1_N,MAGE,onehotencoder__x1_O,HERPES,FEDUC,ACLUNG,RACEDAD,RACEMOM,onehotencoder__x0_O,VISITS,PINFANT,UTERINE
0,-0.054855,-0.08396,2.900081,-0.189031,3.220394,-0.095783,1.045313,-0.114766,0.441297,-0.273158,-0.031639,-0.112509,0.384771,-0.110208,-0.359674,-0.346231,-0.059265,-0.388540,-0.067233,-0.050063
1,-0.054855,-0.08396,0.416478,-0.189031,-0.489025,-0.095783,-0.891647,-0.114766,0.441297,-1.609711,-0.031639,-0.112509,-1.364187,9.073772,1.120466,1.066958,-0.059265,0.697905,-0.067233,-0.050063
2,-0.054855,-0.08396,-0.898370,-0.189031,3.220394,-0.095783,1.690966,-0.114766,0.441297,-0.440227,-0.031639,-0.112509,-0.314812,9.073772,-0.359674,-0.346231,-0.059265,-0.660151,-0.067233,-0.050063
3,-0.054855,-0.08396,-0.387040,-0.189031,-0.489025,-0.095783,1.045313,-0.114766,0.441297,-0.941434,-0.031639,-0.112509,-0.314812,-0.110208,-0.359674,-0.346231,-0.059265,-0.660151,-0.067233,-0.050063
4,-0.054855,-0.08396,0.562572,-0.189031,-0.489025,-0.095783,-0.891647,-0.114766,0.441297,-0.273158,-0.031639,-0.112509,-0.314812,-0.110208,-0.359674,-0.346231,-0.059265,0.697905,-0.067233,-0.050063

In [227]:
X_test_scaled_std.insert(loc=0, column='Ones', value =1)

In [228]:
# call the prediction function of that model to obtain y_pred.
y_pred = linear_regression_closed_form_predict(betas_closed_form,X_test_scaled_std)
y_pred = pd.DataFrame(y_pred, columns = ['BWEIGHT'])
Id_judge = pd.DataFrame(Id_judge)

In [229]:
y_pred = Id_judge.join(y_pred)

In [230]:
#{ID, BWEIGHT}
y_pred

        ID   BWEIGHT
0        1  7.660574
1        2  7.116029
2        3  6.751935
3        4  7.157561
4        5  7.446578
...    ...       ...
1995  1996  6.811875
1996  1997  7.065015
1997  1998  7.380780
1998  1999  7.273310
1999  2000  7.131983

[2000 rows x 2 columns]

# Graduate Students only
## Task 18:
Bring your best model and submit your solution at https://www.kaggle.com/c/birth-weight-prediction
Submit multiple entries. Demonstrate your effort by pushing yourself to improve your own score or beat other submissions (if any available) until the deadline and document your scores and list what changes you made in your submitted solution.

In [231]:
## YOUR CODE HERE ###


y_pred.to_csv('y_pred.csv')

I attempted to improve my regression by training the model on only the top 10 correlated variables intead of the top 20

In [232]:
#keep only the same top 20 variables as you did in Task 7.
X_test_t10 = getX_t20(top10_df,X_test_ohe_imputed)
print(X_test_t10.shape)

X_train_t10 = getX_t20(top10_df,X_train_ohe_imputed)
print(X_train_t10.shape)

(2000, 10)
(76050, 10)

In [233]:
#scale the input variables based on the same metrics you used to scale the training dataset (Task 9).

scaler = preprocessing.StandardScaler().fit(X_test_t10)
X_test_scaled_std = scaler.transform(X_test_t10)
X_test_scaled_std = pd.DataFrame(X_test_scaled_std, columns = X_test_t10.columns)
X_test_scaled_std.head()

,CARDIAC,CERVIX,GAINED,onehotencoder__x1_S,TERMS,BDEAD,TOTALP,HYDRAM,onehotencoder__x1_N,MAGE
0,-0.054855,-0.08396,2.900081,-0.189031,3.220394,-0.095783,1.045313,-0.114766,0.441297,-0.273158
1,-0.054855,-0.08396,0.416478,-0.189031,-0.489025,-0.095783,-0.891647,-0.114766,0.441297,-1.609711
2,-0.054855,-0.08396,-0.898370,-0.189031,3.220394,-0.095783,1.690966,-0.114766,0.441297,-0.440227
3,-0.054855,-0.08396,-0.387040,-0.189031,-0.489025,-0.095783,1.045313,-0.114766,0.441297,-0.941434
4,-0.054855,-0.08396,0.562572,-0.189031,-0.489025,-0.095783,-0.891647,-0.114766,0.441297,-0.273158

In [234]:
scaler = preprocessing.StandardScaler().fit(X_train_t10)
X_train_scaled_std = scaler.transform(X_train_t10)
X_train_scaled_std = pd.DataFrame(X_train_scaled_std, columns = X_train_t10.columns)
X_train_scaled_std.head()

X_train_scaled_std.insert(loc=0, column='Ones', value =1)

In [235]:
X_test_scaled_std.insert(loc=0, column='Ones', value =1)

In [236]:
#retrain model on top 10 correlations 
betas_closed_form,cpu_time_closed_form = linear_regression_closed_form_training(X_train_scaled_std,y_train)

In [237]:
print(betas_closed_form)

[[ 7.25699786e+00]
 [-1.82161831e-03]
 [-8.55326857e-02]
 [ 2.48730433e-01]
 [-1.57224437e-02]
 [-7.94102558e-02]
 [-4.58827306e-02]
 [ 5.75399190e-02]
 [-6.45615257e-02]
 [-5.97011242e-02]
 [ 1.08702760e-01]]

In [238]:
# call the prediction function of that model to obtain y_pred.
y_pred = linear_regression_closed_form_predict(betas_closed_form,X_test_scaled_std)
y_pred = pd.DataFrame(y_pred, columns = ['BWEIGHT'])
Id_judge = pd.DataFrame(Id_judge)
y_pred = Id_judge.join(y_pred)

In [239]:
y_pred

        ID   BWEIGHT
0        1  7.748770
1        2  7.168849
2        3  6.822969
3        4  7.153085
4        5  7.350474
...    ...       ...
1995  1996  6.878119
1996  1997  7.060582
1997  1998  7.169588
1998  1999  7.369390
1999  2000  7.078743

[2000 rows x 2 columns]

In [147]:
y_pred.to_csv('y_pred2.csv')